@font-face {
  font-family: 'fugaz';
  src: url('assets/fonts/fugaz.ttf') format('truetype');
}

body {
  margin: 0px;
/*   disable scrolling, only issue is refresh... https://discourse.processing.org/t/disable-scrolling-on-mobile/20719/2 */
  user-select: none;
  touch-action: none;
  -webkit-user-select: none;
/*   height: 100%;  
  overflow: hidden; */
}

.inputs {
  /* display: flex; */
  /* margin: auto; */
  /* font-size: 200%; */
  font-family: "fugaz";
  text-align: center;
  background-color: rgb(108,112,45);
  color: white;
   /* Set the input to allow wrapping, thanks chat GPT*/
   white-space: normal;
   word-wrap: break-word; /* For older browsers */
   overflow-wrap: break-word; /* For newer browsers */
}

.buttons {
  margin: auto;
  background-color: rgb(108,112,45);
  color: white;
  /* font-size: 150%; */
  font-family: "fugaz";
  text-align: center;
  border-radius: 12px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttons:hover {
  background-color: white;
  color: rgb(108,112,45);
}

#page {
  width: 1920px;
  height: 1080px;
  display: flex;
  /* overflow-y: scroll; */
}

#panel {
  width: 840px;
  height: 1080px;
  overflow-y: scroll;
}

.poemBlock {
  /* display: flexbox; */
  width: 100%;
  /* border-color: black; */
  font-family: "fugaz";
  padding: 10px;
  margin-bottom: 10px;
  border: 6px solid #9ad4fb; /* Chunky border */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow */
  background-color: #f8aecf; /* Background color */

}


/* .divs { */
  /* display: flex; */
  /* width: 100%; */
  /* padding: 10px; */
/* } */
